<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" initial-scale="1"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul class="sidebar-nav nav flex-column">
            <li class="nav-item"><a class="nav-link" href="/catalog">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/catalog/books">All Books</a></li>
            <li class="nav-item"><a class="nav-link" href="/catalog/authors">All Authors</a></li>
            <li class="nav-item"><a class="nav-link" href="/catalog/genres">All Genres</a></li>
            <li class="nav-item"><a class="nav-link" href="/catalog/bookinstances">All Book-Instances</a></li>
            <li class="nav-item"><hr></li>
            <li class="nav-item"><a class="nav-link" href="/catalog/author/create">Create new Author</a></li>
            <li class="nav-item"><a class="nav-link" href="/catalog/genre/create">Create new genre</a></li>
            <li class="nav-item"><a class="nav-link" href="/catalog/book/create">Create new Book</a></li>
            <li class="nav-item"><a class="nav-link" href="/catalog/bookinstance/create">Create new book instance</a></li>
          </ul>
        </div>
        <div class="col-sm-10">
          {{{body}}}
        </div>
      </div>
    </div>
  </body>
</html>
