<h1>ID: {{bookinstance._id}}</h1>

<p>
    <strong>Title: </strong>
    <a href="{{bookinstance.book.url}}">{{bookinstance.book.title}}</a>
</p>

<p>
    <strong>Imprint: {{bookinstance.imprint}}</strong>
</p>
